body {
    background-color: black;
    color: white;
}
.admin_part{
    color: black;
}

#nabielo {
    color: white;
}

.white {
    color: black;
}

img.zasady {
    width: 267px;
    height: 153px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

#login {
    color: black;
    height: 30px;
    width: 40px;
}

.logo {
    height: 50px;
    width: 70px;
}

.bg-dark {
    background-color: #000000 !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 5px solid #dddddd;
    text-align: center;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #eee;
    color: black;
}

tr:nth-child(odd) {
    background-color: #fff;
    color: black;
}

th {
    background-color: darkslategray;
    color: white;
}

@media screen and (min-width: 479px) {


}

@media only screen and (min-width: 768px) {
    .row.posun {
        margin-left: auto;

    }

    img.zasady {
        width: 378px;
        height: 213px;
    }

}