body {
    background-color: black;
    color: white;
}
#nabielo{color: white;}
.white{
    color: black;
}
img.zasady {
    width: 267px;
    height: 153px;
}
.row{
    margin-left: -5px;
    margin-right: -5px;
}
#login {
    color: black;
    height: 30px;
    width: 40px;
}
.logo {
    height: 50px;
    width: 70px;
}
.bg-dark {
    background-color: #000000!important;
}

@media screen and (min-width: 479px) {


}
@media only screen and (min-width: 768px) {
    .row.posun{margin-left: 20%;}
    img.zasady {
        width: 378px;
        height: 213px;
    }

}